/* 滚动条 */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: (12px / 2);

  &:hover {
    background-color: #b6b6b6;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

// 兼容火狐浏览器
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf transparent;
  }
}
